.projectContainer {
    border-radius: 5px;
    min-height: 100vh;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    align-items: center;
    margin: auto;
    margin-top: 0px;
}

.projectContainerColumn {
    border-radius: 5px;
    min-height: 100vh;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    margin-top: 0;
}

.projectContainer.Photo img {
    max-width: 85%;
    height: auto;
    border-radius: 10px;
    margin: auto;
}

.projectContainerColumn.Photo img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin: auto;
}

@media (max-width: 680px) {
    .projectContainer {
        width: 90%;
        min-height: 450px;
        margin-top: 20px;
    }
}
@media (max-width: 680px) {
    .projectContainerColumn {
        width: 95%;
        min-height: 450px;
        margin-top: 20px;
    }
}

.projectTittle {
    font-size: 2.3em;
    color: var(--grey);
    text-shadow: 0 0px 10px var(--l_blue);
    margin: 0px;
}

.thirdTitle {
    color: var(--grey2);
    font-size: 25px;
}

.roundButton {
    position: absolute;
    z-index: 20;
    top: 0;
    left: 0;
    margin: 30px;
    padding: 5px;
    font-size: 20px;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    border: 2px solid transparent;
    background-color: var(--grey); 
    transition: 
        transform 1s, 
        color 1s, 
        text-shadow 1s, 
        border-color 1s, 
        background-color 1s; 
}

.roundButton:hover {
    border-color: var(--l_blue);
    transform: scale(1.05);
    color: var(--l_blue);
    background-color: var(--blue1);
    text-shadow: 0 0px 5px var(--l_blue);
}

.routeNav {
    color: var(--grey2);
    text-decoration: none;
    transition: transform 0.4s, color 0.4s, text-shadow 0.4s;
}

.routeNav:hover {
    color: var(--grey);
    text-shadow: 0 0px 10px var(--l_blue);
}

.projectContainerText {
    display: flex;
    flex-direction: column;
    width: 80%;
    text-align: start;
    font-size: 1.3em;
    color: var(--grey);
    line-height: 1.6;
    min-height: 100px;
}

@media (max-width: 680px) {
    .projectContainerText {
        width: 95%;
        min-height: 450px;
    }
}

.projectDataContainer {
    background-color: var(--blue1);
    color: var(--grey);
    text-align: left;
    border-radius: 4px;
    width: 100%;
    min-height: 100vh;
    margin: auto;
}

.dataCardHeader {
    position: relative;
    background-color: transparent;
    font-weight: bold;
    height: 70%;
    width: 100%;
}