#root {
  --blue: #050912;
  --blue1: #0d121f;
  --grey: #F2F4F3;
  --l_blue: #41a7c9;
  text-align: center;
}

.secondTitle {
  font-size: 2.3em;
  line-height: 0;
  color: var(--grey);
}

.navbar {
  display: flex;
  justify-content: center;
  color: var(--grey);
  background-color: rgba(5, 9, 18, 0.8);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  overflow: hidden;
  position: fixed;
  top: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  height: 60px;
  width: 100%;
  z-index: 20;
}

.navbar a {
  float: left;
  display: block;
  color: var(--grey);
  text-align: center;
  padding: 16px 16px 10px 10px;
  text-decoration: none;
  font-size: 20px;
  transition: transform 0.4s, color 0.4s, text-shadow 0.4s;

}

.navbar a:hover {
  transform: scale(1.1);
  color: var(--l_blue);
  text-shadow: 0 0px 10px var(--l_blue);
}

.startContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

#IntroSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  height: 700px;
  width: 100%;
  background-color: var(--grey);
  background-size: cover;
  background-image:
    linear-gradient(to bottom, transparent, var(--blue)),
    url('../assets/code1.png');
  text-align: center;
}

#AboutSection {
  border-radius: 5px;
  margin-top: 70px;
  min-height: 600px;
  width: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  align-items: center;
  padding: 20px;
}

#ProjectsSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
}

.ProjectsSectionContainer{
  border-radius: 5px;
  min-height: 500px;
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  row-gap: 30px;
  column-gap: 20px;
  margin: auto;
  padding: 30px 0 30px 0  ;
  overflow: auto;
}

.projectCardContainer {
  background-color: var(--blue1);
  color: var(--grey);
  text-align: left;
  border-radius: 4px;
  box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.7);
  width: 350px;
  height: 300px;
  margin: auto;
  transition: 0.3s;
}

.projectCardContainer:hover {
  transform: scale(1.1);
}

.cardHeader {
  position: relative;
  background-color: transparent;
  font-weight: bold;
  height: 70%;
  width: 100%;
}

.cardHeader.photo img{
  width: 351px;
  height: 212px;
}

#SkillsSection {
  border-radius: 5px;
  margin-top: 70px;
  height: 600px;
  width: 80%;
  background-color: var(--grey);
  opacity: 0.5;
}

#AwardsSection {
  border-radius: 5px;
  margin-top: 70px;
  height: 600px;
  width: 80%;
  background-color: var(--grey);
  opacity: 0.5;
}

#ContactSection {
  border-radius: 5px;
  margin-top: 70px;
  height: 600px;
  width: 80%;
  background-color: var(--grey);
  opacity: 0.5;
}

.grid-item.photo img {
  max-width: 85%;
  height: auto;
  border-radius: 10px;
}

.grid-item.text {
  font-size: 1.2em;
  color: var(--grey);
  line-height: 1.6;
}