#root {
  --blue: #050912;
  --grey: #F2F4F3;
  --l_blue: #41a7c9;
  text-align: center;
}
.secondTitle {
  font-size: 2.3em;
  line-height: 0;
  color: var(--grey);
}

.navbar {
  display: flex;
  justify-content: center;
  color: var(--grey);
  background-color: rgba(5, 9, 18, 0.8);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  overflow: hidden;
  position: fixed;
  top: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  height: 60px;
  width: 100%;
  z-index: 20;
}

.navbar a {
  float: left;
  display: block;
  color: var(--grey);
  text-align: center;
  padding: 16px 16px 10px 10px;
  text-decoration: none;
  font-size: 20px;
  transition: transform 0.4s, color 0.4s, text-shadow 0.4s;

}

.navbar a:hover {
  transform: scale(1.1);
  color: var(--l_blue);
  text-shadow: 0 0px 10px var(--l_blue);
}

.startContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

#IntroSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  height: 700px;
  width: 100%;
  background-color: var(--grey);
  background-size: cover;
  background-image: 
  linear-gradient( to bottom, transparent, var(--blue)),
  url('../assets/code1.png');
  text-align: center;
}

#AboutSection {
  border-radius: 5px;
  margin-top: 70px;
  height: 600px;
  width: 80%;
  
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px; 
  align-items: center; 
  padding: 20px; 
}

#ProjectsSection {
  border-radius: 5px;
  margin-top: 70px;
  height: 600px;
  width: 80%;
  background-color: var(--grey);
  opacity: 0.5;
}

#SkillsSection {
  border-radius: 5px;
  margin-top: 70px;
  height: 600px;
  width: 80%;
  background-color: var(--grey);
  opacity: 0.5;
}

#AwardsSection {
  border-radius: 5px;
  margin-top: 70px;
  height: 600px;
  width: 80%;
  background-color: var(--grey);
  opacity: 0.5;
}

#ContactSection {
  border-radius: 5px;
  margin-top: 70px;
  height: 600px;
  width: 80%;
  background-color: var(--grey);
  opacity: 0.5;
}

.grid-item.photo img {
  max-width: 100%;
  height: auto; 
  border-radius: 10px; 
}

.grid-item.text {
  font-size: 1.2em;
  color: var(--grey); 
  line-height: 1.6; 
}