:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --blue: #050912;
  --blue1: #0d121f;
  --grey: #F2F4F3;
  --grey2: #6b6b6b;
  --l_blue: #41a7c9;

  color: var(--l_blue);
  background-color: var(--blue);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-thumb {
  background: var(--grey);
  border-radius: 1px;
}

body::-webkit-scrollbar-thumb:hover {
  background: var(--l_blue);
}

.body-class {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 5em;
  color: var(--grey);
}
html {
  scroll-behavior: smooth;
}